@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap);





body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.08rem;
}
.display-2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
  font-weight: 400;
}
.display-5 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ff8a73 !important;
}
.bg-success {
  background-color: #bfceff !important;
}
.bg-info {
  background-color: #57468b !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff8a73 !important;
  border-color: #ff8a73 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ff4a26 !important;
  border-color: #ff4a26 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff4a26 !important;
  border-color: #ff4a26 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #5580ff !important;
  border-color: #5580ff !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0847ff !important;
  border-color: #0847ff !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0847ff !important;
  border-color: #0847ff !important;
}
.btn-info,
.btn-info:active {
  background-color: #57468b !important;
  border-color: #57468b !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #372c58 !important;
  border-color: #372c58 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #372c58 !important;
  border-color: #372c58 !important;
}
.btn-success,
.btn-success:active {
  background-color: #bfceff !important;
  border-color: #bfceff !important;
  color: #002dbf !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #002dbf !important;
  background-color: #7293ff !important;
  border-color: #7293ff !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #002dbf !important;
  background-color: #7293ff !important;
  border-color: #7293ff !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #ff350d;
  color: #ff350d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ff8a73;
  border-color: #ff8a73;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8a73 !important;
  border-color: #ff8a73 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #003cee;
  color: #003cee;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #5580ff;
  border-color: #5580ff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #5580ff !important;
  border-color: #5580ff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #2d2447;
  color: #2d2447;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #57468b;
  border-color: #57468b;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #57468b !important;
  border-color: #57468b !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #5980ff;
  color: #5980ff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #002dbf;
  background-color: #bfceff;
  border-color: #bfceff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #002dbf !important;
  background-color: #bfceff !important;
  border-color: #bfceff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ff8a73 !important;
}
.text-secondary {
  color: #5580ff !important;
}
.text-success {
  color: #bfceff !important;
}
.text-info {
  color: #57468b !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ff350d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #003cee !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5980ff !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #2d2447 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #57468b;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff8a73;
  border-color: #ff8a73;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff8a73;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9a8cc5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
  font-weight: 400;
}
blockquote {
  border-color: #ff8a73;
}
.btn-primary {
  margin: 1rem 0.5rem !important;
}
.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0 6px 16px 0 #ff8a73 !important;
  -webkit-box-shadow: 0 6px 16px 0 #ff8a73 !important;
  background-color: #ff8a73 !important;
  border-color: #ff8a73 !important;
}
.btn-secondary {
  margin: 1rem 0.5rem !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  box-shadow: 0 6px 15px 0 #5580ff !important;
  -webkit-box-shadow: 0 6px 16px 0 #5580ff !important;
  background-color: #5580ff !important;
  border-color: #5580ff !important;
}
.btn-success {
  color: white !important;
  margin: 1rem 0.5rem !important;
}
.btn-success:active {
  color: white !important;
}
.btn-success:hover,
.btn-success:focus {
  color: white !important;
  box-shadow: 0 6px 15px 0 #bfceff !important;
  -webkit-box-shadow: 0 6px 16px 0 #bfceff !important;
  background-color: #bfceff !important;
  border-color: #bfceff !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff8a73;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  background-color: #f5f6ff;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff8a73;
  border-bottom-color: #ff8a73;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ff8a73 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #5580ff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff8a73' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-t9aOSLCDdj {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-t9aOSLCDdj .mbr-text {
  margin: 0;
}
.cid-t9aOSLCDdj .text-element {
  padding: 2rem;
  background-color: #ffffff;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
}
.cid-t9aOSLCDdj .row-element,
.cid-t9aOSLCDdj .image-element {
  padding: 0;
}
.cid-t9aOSLCDdj .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-t9aOSLCDdj .image-element .img-wrap {
  width: 100% !important;
}
.cid-t9aOSLCDdj .image-element .img-wrap img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-t9aOSLCDdj .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-t9aOSLCDdj .carousel-item.active,
.cid-t9aOSLCDdj .carousel-item-next,
.cid-t9aOSLCDdj .carousel-item-prev {
  display: flex;
}
.cid-t9aOSLCDdj .carousel-indicators {
  left: 50%;
  margin: 20px auto 0;
  align-items: center;
}
.cid-t9aOSLCDdj .carousel-indicators .active {
  opacity: 1;
  border: 0;
  background-color: #ff8a73;
}
.cid-t9aOSLCDdj .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: opacity .5s;
  background-color: #000000;
  font-size: 2rem;
  opacity: .5;
  border-width: 0px;
}
.cid-t9aOSLCDdj .carousel-indicators li:hover {
  opacity: 1;
}
.cid-t9aOSLCDdj .carousel-controls {
  display: none;
}
@media (max-width: 991px) {
  .cid-t9aOSLCDdj .carousel-controls {
    display: block;
  }
  .cid-t9aOSLCDdj .carousel-controls a {
    transition: opacity .5s;
    font-size: 2rem;
  }
  .cid-t9aOSLCDdj .carousel-controls a span {
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
    background: #444444;
    opacity: .9;
  }
  .cid-t9aOSLCDdj .carousel-controls a:hover span {
    opacity: 1;
  }
  .cid-t9aOSLCDdj .carousel-indicators {
    display: none;
  }
}
@media (max-width: 540px) {
  .cid-t9aOSLCDdj .text-element {
    padding: 1rem;
  }
  .cid-t9aOSLCDdj .carousel-controls {
    display: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t9aOSLCDdj .image-element {
    min-width: 50%;
  }
  .cid-t9aOSLCDdj .media-container-row {
    width: 100%;
  }
}
.cid-t9b1sWC6Vr {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #b9f59c;
  position: relative;
  overflow: hidden;
}
.cid-t9b1sWC6Vr svg {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%) scale(2, 1.2);
  animation: wave 5s ease-in-out infinite;
}
@keyframes line {
  from {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}
@keyframes wave {
  from {
    transform: rotate(-0.2deg) translate(-50%) scale(2, 1.2);
  }
  50% {
    transform: rotate(0.2deg) translate(-50%) scale(2.1, 1.3);
  }
  to {
    transform: rotate(-0.2deg) translate(-50%) scale(2, 1.2);
  }
}
.cid-t9b1sWC6Vr .mbr-text,
.cid-t9b1sWC6Vr .mbr-section-btn {
  color: #716c80;
}
.cid-t9b1sWC6Vr #e12_areaS3 {
  fill: #bee2ac !important;
}
.cid-t9b1sWC6Vr #e19_areaS3 {
  fill: #96d973 !important;
}
.cid-t9b1sWC6Vr H1 {
  color: #f92f10;
}
.cid-t9b1sWC6Vr img {
  width: 70%;
  border-radius: 10px;
  animation: line 4s ease-in-out infinite;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
}
.cid-t9b1sWC6Vr .box {
  width: 95%;
  height: 90%;
  opacity: 0.5;
  background-color: #def5d3;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.5rem;
}
@media (max-width: 1200px) {
  .cid-t9b1sWC6Vr .box {
    top: 2%;
    width: 97%;
    height: 96%;
  }
}
@media (max-width: 576px) {
  .cid-t9b1sWC6Vr img {
    width: 100%;
  }
}
.cid-t9bb0LHa2f {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-t9bb0LHa2f .mbr-section-title,
.cid-t9bb0LHa2f .mbr-section-subtitle {
  color: #000000;
}
.cid-t9bb0LHa2f .mbr-section-text {
  color: #232323;
}
.cid-t9bb0LHa2f .mbr-text,
.cid-t9bb0LHa2f .typed-text,
.cid-t9bb0LHa2f .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-t9bb0LHa2f .btn {
  margin-left: 4px !important;
}
.cid-t9bb0LHa2f .animated-element {
  color: #ff3366;
}
.cid-t9bb0LHa2f .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ff3366;
}
.cid-t9bb0LHa2f .mbr-figure {
  border-radius: .25rem;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-t9bb0LHa2f .typed-text,
  .cid-t9bb0LHa2f .mbr-section-subtitle,
  .cid-t9bb0LHa2f .mbr-section-text,
  .cid-t9bb0LHa2f .mbr-section-btn {
    text-align: center !important;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-rlf4BBCTn9 {
  background-image: url("../../../assets/images/e0dnyagvcact-i6-902x512.jpg");
}
.cid-rlf4BBCTn9 .container {
  height: 40rem;
}
.cid-rleMYSmADg {
  padding-top: 165px;
  padding-bottom: 30px;
  background-color: #e3f9d8;
  position: relative;
  overflow: hidden;
}
.cid-rleMYSmADg .svg1 {
  position: absolute;
  bottom: 4.6rem;
  left: 50%;
  transform: translate(-50%) scale(1.3, 1.2);
}
.cid-rleMYSmADg #e1_circle,
.cid-rleMYSmADg #e3_circle,
.cid-rleMYSmADg #e4_circle,
.cid-rleMYSmADg #e5_circle {
  fill: #bee2ac !important;
}
.cid-rleMYSmADg #e6_circle {
  fill: #96d973 !important;
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}
@keyframes rev {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(10px) rotate(360deg);
  }
}
.cid-rleMYSmADg .round {
  border-radius: 100%;
  position: absolute;
  background-color: #bee2ac;
  animation: orbit 4s linear infinite;
}
.cid-rleMYSmADg .rev {
  animation: rev 4s linear infinite;
}
.cid-rleMYSmADg .round1 {
  width: 50px;
  height: 50px;
  left: 7%;
  top: 60%;
}
.cid-rleMYSmADg .round2 {
  width: 90px;
  height: 90px;
  left: 15%;
  top: 15%;
}
.cid-rleMYSmADg .round3 {
  width: 40px;
  height: 40px;
  left: 30%;
  top: 15%;
}
.cid-rleMYSmADg .round4 {
  width: 90px;
  height: 90px;
  left: 40%;
  top: 5%;
}
.cid-rleMYSmADg .round5 {
  width: 50px;
  height: 50px;
  right: 7%;
  top: 55%;
}
.cid-rleMYSmADg .round6 {
  width: 30px;
  height: 30px;
  right: 30%;
  top: 15%;
}
.cid-rleMYSmADg .round7 {
  width: 70px;
  height: 70px;
  right: 20%;
  top: 20%;
}
.cid-rleMYSmADg .round8 {
  width: 110px;
  height: 110px;
  right: 8%;
  top: 30%;
}
.cid-rleMYSmADg .round9 {
  width: 90px;
  height: 90px;
  right: 7%;
  top: 70%;
}
.cid-rleMYSmADg .round10 {
  width: 50px;
  height: 50px;
  right: 35%;
  top: 10%;
}
.cid-rleMYSmADg .round11 {
  width: 70px;
  height: 70px;
  left: 8%;
  top: 35%;
}
.cid-rleMYSmADg H1 {
  color: #57468b;
}
.cid-rleMYSmADg .mbr-text,
.cid-rleMYSmADg .mbr-section-btn {
  color: #716c80;
}
.cid-rleMYSmADg H3 {
  color: #716c80;
}
.cid-rleMYSmADg img {
  height: 100%;
  margin: 0 auto;
}
.cid-rlf2J1Xqlt {
  padding-top: 60px;
  padding-bottom: 270px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.cid-rlf2J1Xqlt svg {
  position: absolute;
  bottom: -9.5rem;
  left: 50%;
  transform: translate(-50%) scaleX(-2) rotate(-12deg);
  filter: fliph;
  animation: wave2 5s ease-in-out infinite;
}
@keyframes wave2 {
  from {
    transform: translate(-50%) scaleX(-2) rotate(-10deg);
  }
  50% {
    transform: translate(-50%) scaleX(-2.2) scaleY(1.1) rotate(-13deg);
  }
  to {
    transform: translate(-50%) scaleX(-2) rotate(-10deg);
  }
}
.cid-rlf2J1Xqlt #e12_areaS3 {
  fill: #bee2ac !important;
}
.cid-rlf2J1Xqlt #e19_areaS3 {
  fill: #96d973 !important;
}
.cid-rlf2J1Xqlt .carousel-control {
  background: #000;
  opacity: 0.2;
}
.cid-rlf2J1Xqlt .carousel {
  width: 80%;
  margin: auto;
}
.cid-rlf2J1Xqlt .mbr-section-subtitle {
  color: #716c80;
}
.cid-rlf2J1Xqlt .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rlf2J1Xqlt .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-rlf2J1Xqlt .carousel-item .wrap-img {
  text-align: center;
}
.cid-rlf2J1Xqlt .carousel-item .wrap-img img {
  transition: all 0.3s;
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-rlf2J1Xqlt .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rlf2J1Xqlt .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-rlf2J1Xqlt .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-rlf2J1Xqlt .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-rlf2J1Xqlt .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-rlf2J1Xqlt .cloneditem-1,
.cid-rlf2J1Xqlt .cloneditem-2,
.cid-rlf2J1Xqlt .cloneditem-3,
.cid-rlf2J1Xqlt .cloneditem-4,
.cid-rlf2J1Xqlt .cloneditem-5 {
  display: none;
}
.cid-rlf2J1Xqlt .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-rlf2J1Xqlt .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-rlf2J1Xqlt .carousel-inner {
    opacity: 0.8;
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides2 .cloneditem-1,
  .cid-rlf2J1Xqlt .carousel-inner.slides2 .cloneditem-2,
  .cid-rlf2J1Xqlt .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides3 .cloneditem-1,
  .cid-rlf2J1Xqlt .carousel-inner.slides3 .cloneditem-2,
  .cid-rlf2J1Xqlt .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides4 .cloneditem-1,
  .cid-rlf2J1Xqlt .carousel-inner.slides4 .cloneditem-2,
  .cid-rlf2J1Xqlt .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides5 .cloneditem-1,
  .cid-rlf2J1Xqlt .carousel-inner.slides5 .cloneditem-2,
  .cid-rlf2J1Xqlt .carousel-inner.slides5 .cloneditem-3,
  .cid-rlf2J1Xqlt .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-rlf2J1Xqlt .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rlf2J1Xqlt .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rlf2J1Xqlt .carousel-inner.slides6 .cloneditem-1,
  .cid-rlf2J1Xqlt .carousel-inner.slides6 .cloneditem-2,
  .cid-rlf2J1Xqlt .carousel-inner.slides6 .cloneditem-3,
  .cid-rlf2J1Xqlt .carousel-inner.slides6 .cloneditem-4,
  .cid-rlf2J1Xqlt .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-rlf2J1Xqlt H2 {
  color: #57468b;
}
.cid-rlf2J1Xqlt .carousel-control-prev {
  position: absolute!important;
  left: -50px !important;
}
.cid-rlf2J1Xqlt .carousel-control-next {
  position: absolute!important;
  right: -50px !important;
}
@media (max-width: 576px) {
  .cid-rlf2J1Xqlt .carousel-control-prev {
    left: -10px !important;
  }
  .cid-rlf2J1Xqlt .carousel-control-next {
    right: -10px !important;
  }
}
.cid-t9bAY9OZPz {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #96d973;
}
.cid-t9bAY9OZPz .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-t9bAY9OZPz .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-t9bAY9OZPz .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-t9bAY9OZPz .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-t9bAY9OZPz .logo-section img {
  width: auto;
}
.cid-t9bAY9OZPz .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #66458e;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-t9bAY9OZPz .icon-transition span:hover {
  background-color: #e96188;
}
.cid-t9bAY9OZPz .mbr-text {
  color: #767676;
}
@media (max-width: 991px) {
  .cid-t9bAY9OZPz .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 15px;
  }
  .cid-t9bAY9OZPz .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 1.5rem;
  }
  .cid-t9bAY9OZPz .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-t9bEYjbXsP .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 100px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 60px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.cid-t9bEYjbXsP .my-float {
  margin-top: 16px;
}
.cid-t9bEYjbXsP P {
  color: #232323;
}
.cid-t9bEYjbXsP DIV {
  color: #ffffff;
}
.cid-t9bEYjbXsP H10 {
  color: #767676;
}
.cid-t9bEYjbXsP .hidden {
  display: none;
}
.cid-t9by68vxjn .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
  background: none;
}
.cid-t9by68vxjn .navbar.opened {
  transition: all 0.3s;
  background: #ffffff !important;
}
.cid-t9by68vxjn .navbar .dropdown-item {
  padding: 0.25rem 1.5rem;
}
.cid-t9by68vxjn .navbar .navbar-collapse {
  transition: none;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-t9by68vxjn .navbar.collapsed {
  flex-wrap: nowrap;
}
.cid-t9by68vxjn .navbar.collapsed.opened {
  text-align: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  max-width: 20rem;
  height: 100vh;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-t9by68vxjn .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-t9by68vxjn .navbar.collapsed.opened .navbar-toggler {
  -webkit-order: -1;
  order: -1;
  -webkit-align-self: flex-end !important;
  align-self: flex-end !important;
  margin: 1rem 0 0 0;
}
.cid-t9by68vxjn .navbar.collapsed.opened .navbar-collapse {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
.cid-t9by68vxjn .navbar.collapsed.opened .navbar-collapse.show,
.cid-t9by68vxjn .navbar.collapsed.opened .navbar-collapse.collapsing {
  display: block;
}
.cid-t9by68vxjn .navbar.collapsed:not(.opened) {
  flex-direction: row !important;
}
.cid-t9by68vxjn .navbar.collapsed:not(.opened) .navbar-collapse {
  display: none !important;
}
.cid-t9by68vxjn .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-t9by68vxjn .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t9by68vxjn .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t9by68vxjn .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-t9by68vxjn .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t9by68vxjn .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-t9by68vxjn .navbar {
    flex-wrap: nowrap;
  }
  .cid-t9by68vxjn .navbar.opened {
    text-align: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    max-width: 20rem;
    height: 100vh;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .cid-t9by68vxjn .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t9by68vxjn .navbar.opened .navbar-toggler {
    -webkit-order: -1;
    order: -1;
    -webkit-align-self: flex-end !important;
    align-self: flex-end !important;
    margin: 1rem 0 0 0;
  }
  .cid-t9by68vxjn .navbar.opened .navbar-collapse {
    -webkit-flex-basis: initial;
    flex-basis: initial;
    height: auto !important;
    max-height: 100vh;
  }
  .cid-t9by68vxjn .navbar.opened .navbar-collapse.show,
  .cid-t9by68vxjn .navbar.opened .navbar-collapse.collapsing {
    display: block;
  }
  .cid-t9by68vxjn .navbar:not(.opened) .navbar-collapse {
    display: none !important;
  }
  .cid-t9by68vxjn .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-t9by68vxjn .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t9by68vxjn .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t9by68vxjn .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-t9by68vxjn .navbar .navbar-logo img {
    height: 3.8rem !important;
    width: auto;
  }
  .cid-t9by68vxjn .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-t9by68vxjn .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }
  .cid-t9by68vxjn .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
}
.cid-t9by68vxjn .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-t9by68vxjn .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
  width: auto;
}
.cid-t9by68vxjn .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-t9by68vxjn .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-t9by68vxjn .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t9by68vxjn .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t9by68vxjn .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-t9by68vxjn .dropdown-item.active,
.cid-t9by68vxjn .dropdown-item:active {
  background-color: transparent;
}
.cid-t9by68vxjn .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t9by68vxjn .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t9by68vxjn .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t9by68vxjn .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-t9by68vxjn .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t9by68vxjn .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t9by68vxjn ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-t9by68vxjn .navbar-buttons {
  text-align: center;
}
.cid-t9by68vxjn button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-t9by68vxjn button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #e9f424;
}
.cid-t9by68vxjn button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-t9by68vxjn button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t9by68vxjn button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t9by68vxjn button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-t9by68vxjn nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t9by68vxjn nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-t9by68vxjn nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-t9by68vxjn nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t9by68vxjn .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-t9by68vxjn a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 2px;
}
.cid-t9by68vxjn a.nav-link:focus {
  outline: none;
}
.cid-t9by68vxjn .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-t9by68vxjn .nav-link:hover,
.cid-t9by68vxjn .dropdown-item:hover {
  color: #dbdbdb !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t9by68vxjn .navbar-dropdown.collapsed.opened {
    left: auto;
  }
  .cid-t9by68vxjn .navbar-dropdown.collapsed.opened .navbar-collapse {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
